body {
	margin: 0;
	padding: 2.5%;
}

.first-box {
	box-sizing: border-box;
	border: 5px solid black;
	width: 100%;
	padding: 10px;
}

.square1 {
	display: inline-block;
	background-color: purple;
	width: 50px;
	height: 150px;
}

.square2 {
	display: inline-block;
	background-color: green;
	height: 200px;
	width: 500px;
	margin: 0 25px;
}

.circle {
	display: inline-block;
	background-color: aqua;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.second-box {
	width: 100%;
	box-sizing: border-box;
	border: 5px dotted black;
	padding: 50px;
	margin-top: 25px;
}

.shadow-box {
	background-color: rgb(240, 240, 150);
	width: 100%;
	height: 200px;
	-moz-box-shadow: 10px 10px 5px 6px #ccc;
	-webkit-box-shadow: 10px 10px 5px 6px #ccc;
	box-shadow: 10px 10px 5px 6px #ccc;
}

.third-box {
	width: 50%;
	box-sizing: border-box;
	border: 2px solid grey;
	padding: 100px;
	margin: 25px auto;
	-moz-box-shadow: 5px 5px 5px 0px #ccc;
	-webkit-box-shadow: 5px 5px 5px 0px #ccc;
	box-shadow: 5px 5px 5px 0px #ccc;
}

h1 {
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	color: purple;
	letter-spacing: 15px;
}
