body {
	margin: 0;
	padding: 0;
}

.row {
	width: 100%;
    height: 100px;
    box-sizing: border-box;
}

.row1 {
    background-color: lightgrey;
    padding: 25px;
}

.box {
	width: 50px;
	height: 50px;
    background-color: blue;
}

.row2 {
    height: 200px;
    padding: 50px;
}

.row3 {
	background-color: blueviolet;
}

.row4 {
	background-color: lightgreen;
}

.row5 {
	background-color: goldenrod;
}

.row6 {
	background-color: yellow;
}
