body {
	background-color: grey;
	width: 100%;
	height: 100%;
	margin: 0;
}

.header {
	background-color: rgb(74, 69, 69);
	width: 100%;
	height: 20vh;
}

.center {
	background-color: white;
	width: 80%;
	height: 60vh;
	margin: 0 auto;
}

.footer {
	background-color: rgb(34, 28, 28);
    width: 80%;
    margin: auto;
	height: 20vh;
}
